package components

templ UploadResponse(success bool, message string) {
	if success {
		@SuccessMessage(message)
	} else {
		@ErrorMessage(message)
	}
}

templ DuplicateUploadResponse(docID string) {
	<div class="p-2 font-semibold text-red-600">
		Error: A file with this name has already been uploaded.
		<a href={ templ.URL("/edit-metadata/" + docID) } class="text-blue-600 underline hover:text-blue-800">
			Edit its metadata here
		</a>.
	</div>
}

