{{ define "pagination" }}
{{ $currentPage := .CurrentPage }}
{{ $totalPages := .TotalPages }}
<div class="flex gap-2 mt-4">
    {{ if gt $currentPage 1 }}
    <a href="?page={{ sub $currentPage 1 }}" class="px-3 py-1 border rounded">&#9665; Back</a>
    {{ end }}
    `
    {{ range seq $currentPage (min $totalPages (add $currentPage 5)) }}
    <a href="?page={{ . }}" class="px-3 py-1 border rounded {{ if eq . $currentPage }}bg-gray-200{{ end }}">
        {{ . }}
    </a>
    {{ end }}

    {{ if lt $currentPage $totalPages }}
    <a href="?page={{ add $currentPage 1 }}" class="px-3 py-1 border rounded">Next &#9655;</a>
    {{ end }}
</div>
{{ end }}
