<!-- Loading Indicator -->
{{ block "indicator" . }}
<img id="indicator" src="svg/bars.svg" class="absolute top-1/4 self-center inline htmx-indicator right-8">
{{ end }}

<!-- Searchbar Styles -->
{{ define "searchbar-classes" }}
relative w-full not-has-[p]:focus-within:[&_input]:rounded-3xl
not-has-[p]:focus-within:[&_input]:border-blue-400
has-[p]:focus-within:[&_input]:rounded-t-3xl
has-[p]:focus-within:[&_input]:border-blue-400
not-has-[p]:not-focus-within:[&_input]:rounded-3xl
has-[p]:not-focus-within:[&_input]:rounded-3xl
hover:[&_input]:rounded-t-3xl
{{ end }}

<!-- Searchbar Input -->
{{ define "searchbar-input" }}
<input class="text-2xl peer border-2 px-6 py-3 w-full outline-none bg-white"
	   id="searchquery"
	   autocomplete="off"
	   placeholder="Begin Your Search Here..."
	   type="text"
	   name="query"
	   hx-push-url="false"
	   hx-post="/search/suggestions"
	   hx-trigger="input changed delay:250ms"
	   hx-target="#suggestions"
	   hx-swap="innerHTML"
	   value="{{ .Query }}"
>
{{ if .IsStoringUrl }}
{{ range $_, $filter := .Filters }}
{{ range $filter.SelectedFilters }}
<input type="hidden" name="{{ $filter.Name }}" value="{{ . }}">
{{ end }}
{{ end }}
<input type="hidden" name="page" value="{{.Page}}">
{{ end }}
{{ end }}

<!-- Standard Searchbar -->
{{ define "searchbar" }}
<div id="searchbar" class="{{ template "searchbar-classes" }}">
{{ template "searchbar-input" . }}
{{ template "suggestions-container" }}
{{ template "indicator" }}
</div>
{{ end }}

<!-- Out-of-Band Searchbar -->
{{ define "searchbar-oob" }}
<div hx-swap-oob="true" id="searchbar" class="{{ template "searchbar-classes" }}">
{{ template "searchbar-input" . }}
{{ template "suggestions-container" }}
{{ template "indicator" }}
</div>
{{ end }}
