<!-- Page Boilerplate -->
{{define "base"}}
<!DOCTYPE html>
<html lang="en" class="overscroll-none">
  <head>
	  <title>{{block "title" .}}Better Evidence Project{{end}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/logo.ico" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <link href="/css/output.css" rel="stylesheet" />
	<style>
	summary::-webkit-details-marker {
		display: none;
	}
	</style>
  </head>
  <body class="m-0">
    <div id="root">
		{{block "content" .}}Better Evidence Project{{end}}
    </div>
  </body>
</html>
{{end}}
