<!-- Page Boilerplate -->
<!DOCTYPE html>
<html lang="en" class="overscroll-none">
  <head>
    <title>Better Evidence Project</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/logo.ico" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body class="m-0">
    <div id="root">
      {{ block "search-home" . }} Default content {{ end }}
    </div>
  </body>
{{ template "suggestions-js" . }}
</html>

{{ block "suggestions-js" . }}
<script>
	// attach event listener to input
    document.body.addEventListener('htmx:afterSwap', function(event) {
        const inputElement = document.getElementById('searchquery');
        if (inputElement && !inputElement.hasAttribute('data-listener-attached')) {
            inputElement.addEventListener('htmx:configRequest', function(event) {
                const inputValue = event.target.value;
				event.detail.parameters['query'] = inputValue;
            });

            inputElement.setAttribute('data-listener-attached', 'true');
        }
    });
</script>
{{end}}

