<!-- Search Page -->
{{ block "results-init" . }}
<div class="grid place-items-center relative">
    <img src="images/Banner.jpeg" class="col-start-1 row-start-1 object-cover top-0 z-1 w-full h-auto">
    <div id="formwrapper" class="col-start-1 row-start-1 z-2 flex justify-center items-center w-full" hx-indicator="#indicator">
        <form hx-get="/search" hx-target="#results-container" hx-swap="innerHTML" hx-trigger="load, submit" class="w-1/4">
			<input id="context" type="hidden" name="context" value="results"> <!-- used for context -->
			{{template "searchbar" .}}
        </form>
    </div>
    <div id="results-container" class="min-h-screen w-full px-4">
		<div id="grid-container" class="pt-10 pr-10 grid grid-cols-[1fr_3fr] bg-white w-full">
			<aside id="sidecolmn" class="mx-10 w-64 bg-white">
				{{ template "skeleton" }}
			</aside>
			<div id="results-content-container" class="space-y-6">
				{{ template "skeleton" }}
				{{ template "skeleton" }}
			</div>
		</div>
    </div>
</div>
{{end}}

