<!-- Loading Indicator -->
{{ block "indicator" . }}
<img id="indicator" src="svg/bars.svg" class="absolute top-1/4 self-center inline htmx-indicator right-8">
{{end}}

<!-- Search Page -->
{{ block "results-init" . }}
<div class="grid place-items-center relative">
    <img src="images/Banner.jpeg" class="col-start-1 row-start-1 object-cover top-0 z-1 w-full h-auto max-w-full">
    <div id="formwrapper" class="col-start-1 row-start-1 z-2 pl-2 grid place-items-center">
        <form hx-post="/search" hx-target="#results-container" hx-swap="innerHTML" hx-trigger="load, submit" class="w-full max-w-2xl">
            <div id="searchbar" class="relative">
			<input class="peer w-full px-6 py-3 text-2xl border-2 rounded-t-3xl rounded-b-3xl shadow-md outline-none"
				id="searchquery"
				autocomplete="off"
				type="text" 
				name="query"
                hx-post="/search/suggestions"
                hx-trigger="input changed delay:250ms"
                hx-target="#suggestions"
                hx-swap="innerHTML"
				value="{{ . }}">
			{{ template "suggestions-container" . }}
			{{ template "indicator" . }}
        </form>
    </div>
    <div id="results-container" class="min-h-screen px-4">
    </div>
</div>
{{end}}
