{{define "sidecolumn"}}
<aside id="sidecolmn" class="mx-10 w-64 bg-white">
<form
	hx-post="/filters"
	hx-trigger="click from:#apply-filters-btn"
	hx-target="#results-content-container"
	hx-include="#searchbar"
	hx-swap="innerHTML">
	<details class="group/filters">
		<summary class="text-sm select-none flex flex-row hover:cursor-pointer">
			<p>Filters</p>
			<svg class="fill-current opacity-75 w-4 h-4 -mr-1 transition duration-300 grow-0 group-open/filters:rotate-90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
				<path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
			</svg>
		</summary>
		{{ range $index, $filter := .Filters }}
			<details class="not-first:pt-4 group/filter">
				<summary class="text-sm select-none p-4 bg-gray-200 hover:bg-gray-300 flex flex-row border-2 rounded-lg hover:cursor-pointer">
					<p class="grow">{{ $filter.Name }}</p>
					<svg class="fill-current opacity-75 w-4 h-4 -mr-1 transition duration-300 grow-0 group-open/filter:rotate-90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
						<path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
					</svg>
				</summary>
				<div class="flex flex-col items-center *:odd:bg-gray-100">
					{{ range $optionIndex, $option := $filter.Options }}
						<label for="filter-{{ $index }}-{{ $optionIndex }}" class="flex w-full items-center py-2 cursor-pointer *:mx-2 hover:bg-blue-100">
							<input 
								id="filter-{{ $index }}-{{ $optionIndex }}" 
								type="checkbox" 
								class="grow-0"
								name="filters[{{ $filter.Category }}][]"
								value="{{ $option.Label }}"
							>
							<p class="grow">{{ $option.Label }}</p>
							<p class="grow-0">{{ $option.Count }}</p>
						</label>
					{{end}}
				</div>
			</details>
		{{end}}
		<button
			id="apply-filters-btn"
			type="submit"
			class="mt-4 w-full bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700"
		>
			<p>Apply Filters</p>
		</button>
	</details>
</form>
</aside>
{{end}}
