{{ block "suggestions" . }}
{{ range .Suggestions }}
<p hx-trigger="click" hx-post="/search" class="text-lg active:bg-red-500 target:bg-blue-500" hx-vals='{"query": "{{.}}"}'>{{ . }}</p>
{{end}}
{{end}}

{{ define "suggestions-container"}}
<div id="suggestions" class="bg-white absolute hidden opacity-0 peer-focus:block hover:block w-full max-w-2xl *:w-full *:px-6 *:py-3 *:border-r-2 *:border-l-2 *:last:border-b-2 *:last:rounded-b-3xl *:hover:cursor-pointer peer-focus:opacity-100 peer-focus:*:hover:bg-gray-200 *:last:shadow-lg"></div>
{{end}}

{{ define "suggestions-container-oob"}}
<div hx-swap-oob="true" hx-swap="outerhtml" id="suggestions" class="bg-white absolute hidden opacity-0 peer-focus:block hover:block w-full max-w-2xl *:w-full *:px-6 *:py-3 *:border-r-2 *:border-l-2 *:last:border-b-2 *:last:rounded-b-3xl *:hover:cursor-pointer peer-focus:opacity-100 peer-focus:*:hover:bg-gray-200 *:last:shadow-lg"></div>
{{end}}
